mh-calendar-event-full {
  width: 100%;
}

.mhCalendarEventFull__userEventContentHolder,
.mhCalendarEventFull {
  width: 100%;
  height: 100%;
}

.mhCalendarEventFull__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5px 10px;
  border: solid 1px color-mix(in srgb, var(--eventBackgroundColor) 90%, white);
  background: color-mix(in srgb, var(--eventBackgroundColor) 52%, #1a1a22);
}

.mhCalendarEventFull__content::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: color-mix(in srgb, var(--eventBackgroundColor) 90%, white);
}

.mhCalendarEventFull__content__title {
  color: color-mix(in srgb, var(--eventBackgroundColor) 30%, #f0f0f0);
  font-size: 12px;
  font-weight: bold;
}

.mhCalendarEventFull__content__date {
  font-size: 11px;
  color: color-mix(in srgb, var(--eventBackgroundColor) 80%, #f0f0f0);
}
