.mhCalendarHeader {
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 0 8px 0;
  font-size: 12px;
  height: var(--viewHeaderHeight);
  width: 100%;
}

.mhCalendarHeader__emptyCell {
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
}

.mhCalendarHeader__date {
  align-items: center;
  font-size: 80%;
  text-align: center;
  font-weight: 500;
  color: #5f6368;
  text-transform: uppercase;
  padding: 0 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: system-ui;
}

.mhCalendarHeader__today {
  background-color: var(--headerTodayBackgroundColor);
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}
