.mhCalendarHeader {
  border-bottom: 1px solid var(--bordersColor);
  font-size: 12px;
  height: var(--viewHeaderHeight);
  width: 100%;
}

.mhCalendarHeader__date {
  align-items: center;
  text-align: center;
  color: var(--dateFontColor);
  text-transform: uppercase;
  padding: 0 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mhCalendarHeader__today {
  color: color-mix(in srgb, var(--dateFontColor), white 40%);
  font-weight: bold;
  position: relative;
}

.mhCalendarHeader__today::after {
  content: '';
  position: absolute;
  inset: 50%;
  translate: -50% -50%;
  width: 1.4em;
  height: 1.4em;
  border: solid 1px var(--headerTodayBackgroundColor);
  border-radius: 50%;
  pointer-events: none;
}

.mhCalendarHeader__dateCell {
  display: flex;
  justify-content: center;
}

.mhCalendarHeader__dateWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  scale: 0.8;
}

.mhCalendarHeader__dateWrapper--weekend {
  color: var(--holidayDateColor);
}

.mhCalendarHeader__dayName {
  letter-spacing: 2px;
  padding-bottom: 3px;
}

.mhCalendarHeader__dayNumber {
  font-size: 25px;
}
